<%- include("header") -%>
   <div class="box" id="heading">
   <h1>It's <%= weekday %></h1>
</div>

<div class="box">

   <ul>
   
      <%   newitem.map(item=>{  %>
         <% console.log(item)  %>
         <div class="item">
            <input type="checkbox">
            <p>
           <%= item %>
         </p>  
      </div>
        <% }) %>
        </ul>
        <form action="/" method="post" class="item">
         <input type="text" name="list" placeholder="Create your todo List" autocomplete="off">
         <button type="submit" name="submit" value="<%= weekday %>">+</button>
        </form>
</div>


<%- include("footer") -%>
   
